<header
  class="w-screen h-auto p-2 sm:p-0 bg-dark-blue border-b-4 border-cyan-green">
  <div class="flex justify-between items-center px-5 sm:px-8 lg:px-12">
    <div class="flex items-center sm:pl-4 lg:pl-8">
      <img
        src="../../../assets/images/house-dark.png"
        class="h-16 w-16 sm:h-20 sm:w-20"
        alt="logo" />

      <div class="flex flex-col">
        <h5
          class="text-white font-extrabold text-sm sm:text-[15px] sm:leading-4 uppercase sm:tracking-wide">
          condo<strong class="text-cyan-green">tec</strong>
        </h5>
        <p
          class="text-primary-green text-xs leading-3 font-semibold uppercase">management</p>
      </div>
    </div>

    <div class="flex items-center gap-4 sm:pr-4 lg:pr-8">
      <p class="hidden sm:block sm:text-white sm:text-sm">
        Possui uma conta?
      </p>
      <a
        routerLink="/login"
        class="bg-primary-blue text-white text-xs font-semibold py-2 px-4 rounded-full hover:bg-light-blue focus:bg-light-blue">
        Fazer login
      </a>
    </div>
  </div>
</header>
