.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-top: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

