<aside class="flex flex-row pt-6">
  <div class="flex flex-col w-full overflow-hidden">
    <div class="flex items-center justify-center border-b-2 border-light-gray">
      <span>
        <img
          src="../../../assets/images/logo-white.png"
          class="h-24 w-24"
          alt="logo">
      </span>
    </div>

    <ul class="flex flex-col items-start py-4 pl-10 pt-8 space-y-8">
      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-blocks mb-1">
              <rect width="7" height="7"
                x="14"
                y="3" rx="1" />
              <path
                d="M10 21V8a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H3" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Dashboard
          </span>
        </a>
      </li>

      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-hotel mb-1">
              <path
                d="M18 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2Z" /><path
                d="m9 16 .348-.24c1.465-1.013 3.84-1.013 5.304 0L15 16" /><path
                d="M8 7h.01" />
              <path d="M16 7h.01" />
              <path d="M12 7h.01" />
              <path
                d="M12 11h.01" />
              <path d="M16 11h.01" />
              <path
                d="M8 11h.01" />
              <path d="M10 22v-6.5m4 0V22" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Moradores
          </span>
        </a>
      </li>

      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-box mb-1">
              <path
                d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" /><path
                d="m3.3 7 8.7 5 8.7-5" />
              <path d="M12 22V12" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Encomendas
          </span>
        </a>
      </li>

      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-briefcase mb-1">
              <rect width="20" height="14"
                x="2"
                y="7" rx="2" ry="2" />
              <path
                d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Colaboradores
          </span>
        </a>
      </li>

      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-users-round mb-1">
              <path
                d="M18 21a8 8 0 0 0-16 0" />
              <circle cx="10" cy="8" r="5" />
              <path
                d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Visitantes
          </span>
        </a>
      </li>

      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-wrench mb-1">
              <path
                d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Serviços
          </span>
        </a>
      </li>

      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-calendar-fold mb-1">
              <path d="M8 2v4" />
              <path
                d="M16 2v4" />
              <path
                d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
              <path
                d="M3 10h18" />
              <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Eventos
          </span>
        </a>
      </li>

      <li class="text-center">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-blue hover:border-b-[3px] hover:border-cyan-green">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-scroll-text mb-1">
              <path
                d="M8 21h12a2 2 0 0 0 2-2v-2H10v2a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v3h4" />
              <path
                d="M19 17V5a2 2 0 0 0-2-2H4" />
              <path d="M15 8h-5" />
              <path
                d="M15 12h-5" />
            </svg>
          </span>
          <span class="text-sm font-medium">
            Relatórios
          </span>
        </a>
      </li>

      <li class="pt-8 text-center border-t-2 border-medium-gray">
        <a href="#"
          class="flex justify-center items-center gap-2 transform hover:translate-x-2 transition-transform ease-in duration-200 text-dark-blue hover:text-primary-red">
          <span
            class="inline-flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-power-square mb-1">
              <rect width="18"
                height="18"
                x="3" y="3" rx="2" />
              <path d="M12 7v5" />
              <path
                d="M8 9a5.14 5.14 0 0 0 4 8 4.95 4.95 0 0 0 4-8" />
            </svg>
          </span>
          <span class="text-xs font-semibold tracking-tight">
            Sair da sua conta
          </span>
        </a>
      </li>
    </ul>
  </div>
</aside>
