<div
  [formGroup]="form"
  class="flex flex-col justify-center space-y-7 py-12">
  <div>
    <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
      Digite o seu e-mail
    </label>
    <div class="mt-1">
      <input
        type="email"
        name="email"
        class="block w-full rounded-full border-2 py-2 pl-6 text-dark sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray outline-none ring-1 ring-inset ring-medium-gray focus:ring-2 focus:ring-inset focus:ring-primary-green"
        required
        formControlName="email" />
    </div>
  </div>

  <div>
    <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
      Crie um nome para seu usuário
    </label>
    <div class="mt-1">
      <input
        type="text"
        name="username"
        class="block w-full rounded-full border-2 py-2 pl-6 text-dark sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray outline-none ring-1 ring-inset ring-medium-gray focus:ring-2 focus:ring-inset focus:ring-primary-green"
        required
        formControlName="username" />
    </div>
  </div>

  <div class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-3">
      <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
        Crie uma nova senha
      </label>
      <div class="mt-1 flex items-center relative">
        <input
          [type]="showPassword ? 'text' : 'password' "
          id="password"
          class=" block w-full rounded-full border-2 py-2 pl-6 text-dark
        sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray
        outline-none ring-1 ring-inset ring-medium-gray focus:ring-2
        focus:ring-inset focus:ring-primary-green"
          required
          formControlName="password" />

        <button
          (click)="toggleShowPassword()"
          class="absolute right-5 top-1/2 transform -translate-y-1/2 hover:bg-light-gray hover:rounded-full p-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            fill="#000000" viewBox="0 0 256 256">
            <ng-container
              *ngIf="showPasswordIcon; else visiblePasswordIcon">

              <path
                d="M228,175a8,8,0,0,1-10.92-3l-19-33.2A123.23,123.23,0,0,1,162,155.46l5.87,35.22a8,8,0,0,1-6.58,9.21A8.4,8.4,0,0,1,160,200a8,8,0,0,1-7.88-6.69l-5.77-34.58a133.06,133.06,0,0,1-36.68,0l-5.77,34.58A8,8,0,0,1,96,200a8.4,8.4,0,0,1-1.32-.11,8,8,0,0,1-6.58-9.21L94,155.46a123.23,123.23,0,0,1-36.06-16.69L39,172A8,8,0,1,1,25.06,164l20-35a153.47,153.47,0,0,1-19.3-20A8,8,0,1,1,38.22,99c16.6,20.54,45.64,45,89.78,45s73.18-24.49,89.78-45A8,8,0,1,1,230.22,109a153.47,153.47,0,0,1-19.3,20l20,35A8,8,0,0,1,228,175Z"></path>
            </ng-container>

            <ng-template #visiblePasswordIcon>
              <path
                d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"></path>
            </ng-template>
          </svg>
        </button>
      </div>
    </div>

    <div class="sm:col-span-3">
      <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
        Confirme a sua senha
      </label>
      <div class="mt-1 flex items-center relative">
        <input
          [type]="showPassword ? 'text' : 'password' "
          id="password"
          class=" block w-full rounded-full border-2 py-2 pl-6 text-dark
        sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray
        outline-none ring-1 ring-inset ring-medium-gray focus:ring-2
        focus:ring-inset focus:ring-primary-green"
          required
          formControlName="passwordConfirmation" />

        <button
          (click)="toggleShowPassword()"
          class="absolute right-5 top-1/2 transform -translate-y-1/2 hover:bg-light-gray hover:rounded-full p-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            fill="#000000" viewBox="0 0 256 256">
            <ng-container
              *ngIf="showPasswordIcon; else visiblePasswordIcon">

              <path
                d="M228,175a8,8,0,0,1-10.92-3l-19-33.2A123.23,123.23,0,0,1,162,155.46l5.87,35.22a8,8,0,0,1-6.58,9.21A8.4,8.4,0,0,1,160,200a8,8,0,0,1-7.88-6.69l-5.77-34.58a133.06,133.06,0,0,1-36.68,0l-5.77,34.58A8,8,0,0,1,96,200a8.4,8.4,0,0,1-1.32-.11,8,8,0,0,1-6.58-9.21L94,155.46a123.23,123.23,0,0,1-36.06-16.69L39,172A8,8,0,1,1,25.06,164l20-35a153.47,153.47,0,0,1-19.3-20A8,8,0,1,1,38.22,99c16.6,20.54,45.64,45,89.78,45s73.18-24.49,89.78-45A8,8,0,1,1,230.22,109a153.47,153.47,0,0,1-19.3,20l20,35A8,8,0,0,1,228,175Z"></path>
            </ng-container>

            <ng-template #visiblePasswordIcon>
              <path
                d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"></path>
            </ng-template>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <span
    *ngIf="error"
    class="mt-1 inline-flex items-center justify-center gap-2 text-xs text-primary-red font-medium">
    <svg
      xmlns="http://www.w3.org/2000/svg" width="18" height="18"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-info"><circle cx="12" cy="12" r="10" /><path
        d="M12 16v-4" /><path d="M12 8h.01" /></svg>
    {{ error }}
  </span>

  <div class="pt-2 flex justify-end items-center">
    <button
      [disabled]="form.invalid"
      class="disabled:bg-light-gray disabled:text-dark-gray disabled:cursor-not-allowed py-3 px-6 rounded-full text-sm bg-primary-blue text-white font-semibold shadow-sm shadow-medium-gray hover:bg-dark-blue hover:text-cyan-green focus:bg-dark-blue focus:text-cyan-green"
      (click)="onSubmit()">
      Continuar
    </button>
  </div>
</div>
