<div
  formGroup="form"
  class="flex flex-col justify-center space-y-7 py-12"
>
<div>
  <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
    Digite o seu e-mail
  </label>
  <div class="mt-1">
    <input
      type="text"
      class="block w-full rounded-full border-2 py-2 pl-4 text-dark sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray outline-none ring-1 ring-inset ring-medium-gray focus:ring-2 focus:ring-inset focus:ring-primary-green"
      required
      formControlName="email"
    />
  </div>
</div>

<div>
  <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
    Agora, crie um nome de usuário
  </label>
  <div class="mt-1">
    <input
      type="text"
      class="block w-full rounded-full border-2 py-2 pl-4 text-dark sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray outline-none ring-1 ring-inset ring-medium-gray focus:ring-2 focus:ring-inset focus:ring-primary-green"
      required
      formControlName="username"
    />
  </div>
</div>

<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
  <div class="sm:col-span-3">
    <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
      Crie uma nova senha
    </label>
    <div class="mt-1">
      <input
      type="text"
      class="block w-full rounded-full border-2 py-2 pl-4 text-dark sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray outline-none ring-1 ring-inset ring-medium-gray focus:ring-2 focus:ring-inset focus:ring-primary-green"
      required
      formControlName="password"
    />
    </div>
</div>

  <div class="sm:col-span-3">
    <label class="block ml-2 text-sm font-semibold leading-6 text-dark">
      Confirme a sua senha
    </label>
    <div class="mt-1">
      <input
      type="text"
      class="block w-full rounded-full border-2 py-2 pl-4 text-dark sm:leading-6 sm:tracking-wide shadow-md shadow-light-gray outline-none ring-1 ring-inset ring-medium-gray focus:ring-2 focus:ring-inset focus:ring-primary-green"
      required
      formControlName="passwordConfirmation"
    />
    </div>
  </div>
</div>

  <div class="pt-2 flex justify-end items-center">
    <button
      class="py-3 px-6 rounded-full text-sm bg-primary-blue text-white font-semibold shadow-sm shadow-medium-gray hover:bg-dark-blue hover:text-cyan-green focus:bg-dark-blue focus:text-cyan-green"
      routerLink="../dados-pessoais"
    >
      Continuar
    </button>
  </div>
</div>
