<!-- component -->
<div
  class="overflow-x-hidden rounded-lg border border-medium-gray shadow-md m-5">
  <table
    class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Funcionário</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Whatsapp</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Morador</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Bloco</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Apartamento</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Produto</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Rastreio</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Data</th>
        <th scope="col" class="px-6 py-4 font-medium text-dark">Ação</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
      <tr>
        <th class="flex gap-3 px-6 py-4 font-normal text-dark">
          <div class="text-sm">
            <div class="font-medium text-dark-gray">
              Matheus Roberto
            </div>
            <div class="text-gray-400">
              Porteiro
            </div>
          </div>
        </th>

        <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600">
            <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
            Entregue
          </span>
        </td>

        <td class="px-6 py-4">
          <div class="flex text-center">
            José Carlos da Silva
          </div>
        </td>

        <td class="px-6 py-4 text-center text-base">7</td>

        <td class="px-6 py-4 text-center text-base">23</td>

        <td class="px-6 py-4">
          <div class="flex text-center">
            Pacote Mercado Livre
          </div>
        </td>

        <td class="px-6 py-4">
          <div class="flex text-center text-sm">
            423357899
          </div>
        </td>

        <th class="flex gap-3 px-6 py-4 font-normal text-dark">
          <div class="text-sm text-center">
            <div class="font-medium text-dark-gray">
              23/01/2024
            </div>
            <div class="text-dark-gray">
              ás 11:17
            </div>
          </div>
        </th>

        <td class="px-6 py-4">
          <div class="flex justify-end gap-4">
            <button
              class="hover:p-1 hover:rounded-full hover:bg-red-200"
              title="Deletar">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="#1a1a1a" viewBox="0 0 256 256"><path
                  d="M216,48H40a12,12,0,0,0,0,24h4V208a20,20,0,0,0,20,20H192a20,20,0,0,0,20-20V72h4a12,12,0,0,0,0-24ZM188,204H68V72H188ZM76,20A12,12,0,0,1,88,8h80a12,12,0,0,1,0,24H88A12,12,0,0,1,76,20Z"></path></svg>
            </button>
          </div>
        </td>
      </tr>

      <tr>
        <th class="flex gap-3 px-6 py-4 font-normal text-dark">
          <div class="text-sm">
            <div class="font-medium text-dark-gray">
              Vitoria Cambui
            </div>
            <div class="text-gray-400">
              Porteira
            </div>
          </div>
        </th>

        <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 rounded-full bg-yellow-50 px-2 py-1 text-xs font-semibold text-primary-yellow">
            <span class="h-1.5 w-1.5 rounded-full bg-primary-yellow"></span>
            Pendente
          </span>
        </td>

        <td class="px-6 py-4">
          <div class="flex text-center">
            Maria Aparecida Madureira
          </div>
        </td>

        <td class="px-6 py-4 text-center text-base">1</td>

        <td class="px-6 py-4 text-center text-base">44</td>

        <td class="px-6 py-4">
          <div class="flex text-center">
            Caixa Shopee
          </div>
        </td>

        <td class="px-6 py-4">
          <div class="flex text-center text-sm">
            277655490101010
          </div>
        </td>

        <th class="flex gap-3 px-6 py-4 font-normal text-dark">
          <div class="text-sm text-center">
            <div class="font-medium text-dark-gray">
              22/01/2024
            </div>
            <div class="text-dark-gray">
              ás 14:01
            </div>
          </div>
        </th>

        <td class="px-6 py-4">
          <div class="flex justify-end gap-4">
            <button
              class="hover:p-1 hover:rounded-full hover:bg-red-200"
              title="Deletar">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="#1a1a1a" viewBox="0 0 256 256"><path
                  d="M216,48H40a12,12,0,0,0,0,24h4V208a20,20,0,0,0,20,20H192a20,20,0,0,0,20-20V72h4a12,12,0,0,0,0-24ZM188,204H68V72H188ZM76,20A12,12,0,0,1,88,8h80a12,12,0,0,1,0,24H88A12,12,0,0,1,76,20Z"></path></svg>
            </button>
          </div>
        </td>
      </tr>

      <tr>
        <th class="flex gap-3 px-6 py-4 font-normal text-dark">
          <div class="text-sm">
            <div class="font-medium text-dark-gray">
              Antonio Costa
            </div>
            <div class="text-gray-400">
              Vigilante
            </div>
          </div>
        </th>

        <td class="px-6 py-4">
          <span
            class="inline-flex items-center gap-1 rounded-full bg-red-100 px-2 py-1 text-xs font-semibold text-primary-red">
            <span class="h-1.5 w-1.5 rounded-full bg-primary-red"></span>
            Abortado
          </span>
        </td>

        <td class="px-6 py-4">
          <div class="flex text-center">
            Neusa da Silva Santos
          </div>
        </td>

        <td class="px-6 py-4 text-center text-base">5</td>

        <td class="px-6 py-4 text-center text-base">67</td>

        <td class="px-6 py-4">
          <div class="flex text-center">
            Farmácia Droga Raia
          </div>
        </td>

        <td class="px-6 py-4">
          <div class="flex text-center text-sm">
            Motoboy da 99
          </div>
        </td>

        <th class="flex gap-3 px-6 py-4 font-normal text-dark">
          <div class="text-sm text-center">
            <div class="font-medium text-dark-gray">
              19/01/2024
            </div>
            <div class="text-dark-gray">
              ás 20:55
            </div>
          </div>
        </th>

        <td class="px-6 py-4">
          <div class="flex justify-end gap-4">
            <button
              class="hover:p-1 hover:rounded-full hover:bg-red-200"
              title="Deletar">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="#1a1a1a" viewBox="0 0 256 256"><path
                  d="M216,48H40a12,12,0,0,0,0,24h4V208a20,20,0,0,0,20,20H192a20,20,0,0,0,20-20V72h4a12,12,0,0,0,0-24ZM188,204H68V72H188ZM76,20A12,12,0,0,1,88,8h80a12,12,0,0,1,0,24H88A12,12,0,0,1,76,20Z"></path></svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
